<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Visual Graph</title>
        <script src="jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <h1>Insert Code Here</h1>
        <form action="#" onsubmit="Visualize()">
           	<textarea id="textbox" style="width:600px;height:600px;"></textarea>
            <input type="submit" id="visualize" value="Visualize">
        </form>
        <p id="output">Output goes here</p>

        <script>
            function Visualize() {
                var text = $("#textbox").val();
                $("#output").html(text);
                alert("Look at the output");
            }
            // $("#visualize").on("click", function(){
            //     alert("Submitted");
            // });
        </script>
    </body>
</html>
