<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Visual Graph</title>
        <script src="jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <h1>Insert Code Here</h1>
        <form onsubmit="Visualize()">
           	<textarea id="textbox" style="width:600px;height:600px;"></textarea>
            <input type="submit" id="visualize" value="Visualize">
        </form>
        <p id="output">Output goes here</p>

        <script>
            function Visualize(){
                document.getElementById("output").innerHTML += " Visualize called. Output: ";
                var text = $("textbox").val();
                document.getElementById("output").innerHTML += text;
            }
        </script>
    </body>
</html>
