<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Visual Graph</title>
        <script src="/static/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <h1>Insert Code Here</h1>
        <!-- <form action="">
        Code: <input type="text" id="txt1" onkeyup="Visualize(this.value)">
        </form> -->
        <!-- <form onsubmit="Visualize()"> -->
               <textarea id="textbox" style="width:600px;height:600px;"></textarea>
               <button type="button" onclick="Visualize()">Click Me!</button>
            <!-- <input type="submit" id="visualize" value="Visualize"> -->
        <!-- </form> -->
        <p id="output">Output goes here</p>
        <div id="Graphs"></div>

        <script src="/static/graph.js" type="text/javascript"></script>
        <script src="/static/main.js" type="text/javascript"></script>
    </body>
</html>
