<!-- http://paperjs.org/tutorials/getting-started/working-with-paper-js/ -->
<!DOCTYPE html>
<html>
<head>
<!-- Load the Paper.js library -->
<script type="text/javascript" src="/static/paper-full.min.js"></script>
<!-- Define inlined PaperScript associate it with myCanvas -->
<script type="text/paperscript" canvas="myCanvas">
	var path = new Path();
	path.strokeColor = 'black';
	path.add(new Point(30, 75)); 
	path.add(new Point(30, 25)); 
	path.add(new Point(80, 25));
	path.add(new Point(80, 75));
	path.closed = true;

	// Select the path, so we can see its handles:
	path.fullySelected = true;

	// Create a copy of the path and move it 100pt to the right:
	var copy = path.clone();
	copy.fullySelected = true;
	copy.position.x += 100;

	// Smooth the segments of the copy:
	copy.smooth();
</script>
</head>
<body>
	<canvas id="myCanvas" resize></canvas>
</body>
</html>