<!-- http://paperjs.org/tutorials/getting-started/working-with-paper-js/ -->
<!DOCTYPE html>
<html>
<head>
	<!-- Load the Paper.js library -->
	<script type="text/javascript" src="/static/lib/paper-full.min.js"></script>
	<!-- Load the vis.js library -->
    <script type="text/javascript" src="/static/lib/vis.min.js"></script>
    <link href="/static/lib/vis.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="static/lib/ace-builds/src-noconflict/ace.js" charset="utf-8"></script>


</head>
<body>
	<form id="file-form" action="handler.php" method="POST">
	  <input type="file" id="file-select" name="photos[]" multiple/>
	  <button type="submit" id="upload-button">Upload</button>
	</form>
	<pre id="stuff">Stuff</pre>
	<script>
		// Check for the various File API support.
		if (window.File && window.FileReader && window.FileList && window.Blob) {
			// Great success! All the File APIs are supported.
		}
		else {
			alert('The File APIs are not fully supported in this browser.');
		}
		var form = document.getElementById('file-form');
		var fileSelect = document.getElementById('file-select');
		var uploadButton = document.getElementById('upload-button');

		form.onsubmit = function(event) {
			event.preventDefault();

			// Update button text.
			uploadButton.innerHTML = 'Uploading...';

			var file = fileSelect.files[0];

			// Check the file type.
			// if (!file.type.match('image.*')) {
			// 	continue;
			// }
			console.log(file.type);
			var reader = new FileReader();
			// reader.onload = function(e) {}
			reader.readAsText(file);
			// console.log(reader.error);
			// console.log(reader.result);
			// document.getElementById("stuff").innerHTML = reader.result;
			// alert("Done");
			reader.onload = function(e) {
				document.getElementById("stuff").innerHTML = reader.result;
				console.log(reader.result);
			};
		}
	</script>
	<!-- <input type="file" id="files" name="files[]" multiple />
	<output id="list"></output>

	<script>
	  function handleFileSelect(evt) {
	    var files = evt.target.files; // FileList object

	    // files is a FileList of File objects. List some properties.
	    var output = [];
	    for (var i = 0, f; f = files[i]; i++) {
	      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
	                  f.size, ' bytes, last modified: ',
	                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
	                  '</li>');
	    }
	    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
	  }

	  document.getElementById('files').addEventListener('change', handleFileSelect, false);
	</script> -->

</body>
</html>
